.task-card {
  border: 1px solid var(--color-border);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.task-card:hover {
  background: var(--color-white);
}

.task-card > .title {

}
